<?xml version="1.0"?>
<config>
    <modules>
        <Custom_Reindex>
            <version>1.0.0</version>
        </Custom_Reindex>
    </modules>
    <global>
        <blocks>
            <reindex>
                <class>Custom_Reindex_Block</class>                
            </reindex>            
        </blocks>
        <helpers>
            <reindex>
                <class>Custom_Reindex_Helper</class>                
            </reindex>            
        </helpers>
        <models>
            <reindex>
                <class>Custom_Reindex_Model</class>                
            </reindex>
        </models>               			
    </global>
    <admin>
        <routers>
            <reindex>
                <use>admin</use>
                <args>
                    <module>Custom_Reindex</module>
                    <frontName>reindex</frontName>
                </args>
            </reindex>
        </routers>		
    </admin>
    <adminhtml>        
        <layout>
            <updates>
                <reindex>
                    <file>reindex.xml</file>
                </reindex>
            </updates>
        </layout>
    </adminhtml>
</config>